* {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    font-weight: 300;
}

.hero-section {
    background-image: url(code-1839406_1280.jpg);
    min-height: 100vh;
    background-position: centerhero-section;
    background-size: cover;
    background-repeat: no-repeat;
}

.text_container {
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 64px;
    padding-left: 64px;
}

.ig_text {
    font-size: 72px;
    font-weight: 600;
}

.black_box {
    background-color: black;
    padding: 20px;
}

.black_box h2 {
    font-weight: 300;
    font-size: 72px;
    color: white;
    text-align: center;
}

.black_box h2 span {
    font-weight: 400;
    font-size: 96px;
}

.work {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: 20px 0;
    max-width: 1100px;
    margin: 50px auto;
}

.img_container img {
    width: 320px;
    height: 200px;
}

.card {
    max-width: 320px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px black;
    transition: 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.04);
    box-shadow: 3px 5px 5px black;
    transition: 0.2s ease-in-out;

}

.card_containt {
    padding: 20px;
}

.card_containt p {
    font-weight: 600;
}

.card_containt h3 {
    margin: 10px;
}

.grid_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    display: flex;
}

.contact {
    background-color: rgb(43, 78, 43);
}

.about {
    background-color: rgb(68, 68, 6);
}

.contact,
.about {
    min-height: 300px;
    padding: 32px;
    color: white;
}

.contact p,
.about p {
    margin-bottom: 20px;
}

.contact h2,
.about h2 {
    font-size: 64px;
    font-weight: 300;
}

footer {
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    padding: 20px;
    color: white;
}

@media(max-width:786px) {
    .hero-sectionP {
        min-height: 50vh;
    }

    .text_container {
        padding: 10px;
        text-align: center;

    }

    .ig_text {
        font-size: 32px;
    }

    .black_box h2 {
        font-size: 24px;
    }

    .black_box h2 span {
        font-weight: 400;
        font-size: 32px;
    }
    .bottom{
        flex-direction: column;
    }
    h1{
        font-size: 32px;
    }
    .contact h2,
    .about h2 {
        font-size: 32px;
    }
}